<%- include("header") -%> 

<div id="heading">
    <h1><%= listName %></h1>
</div>

<div class="wrapper">
    <form class="newTask" method="post">
        <input type="text" name="newTask" placeholder="Add a new task" autocomplete="off">
        <button class="submit" type="submit" name="submit" value="<%=listName%>">+</button>
    </form>

    <% for (let i = 0; i < newTasks.length; i++) { %>
        <form action="/delete" method="post">
            <div class="task">
                <input type="checkbox">
                <p><%=newTasks[i].name%></p>
                <input type="hidden" name="listName" value="<%=listName%>">
                <button class="delete-task" type="submit" name="delete" value="<%=newTasks[i]._id%>">x</button>
            </div>
        </form>
    <% } %>  
</div>

<%- include("footer") -%> 